* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  margin: 47px 0 178px 42px;
}

.link-header {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 100%;
  letter-spacing: 0.88px;
  text-align: center;
  cursor: pointer;
  margin-right: 2rem;
}

.link-header:hover {
  color: rgba(111, 191, 68, 1);
  opacity: 0.8;
}

.cadastro {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 100%;
  letter-spacing: 0.88px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: rgba(111, 191, 68, 1);
  border: 1px solid rgba(76, 181, 56, 1);
  opacity: 1;
  border-radius: 6px;
  border-width: 1px;
  padding: 0.25rem;
}

img {
  width: 30rem;
  height: auto;
  margin-left: 10rem;
}

.main-heading {
  font-weight: 700;
  font-size: 3.875rem;
  line-height: 5rem;
  letter-spacing: 0.6px;
  width: 35rem;
  color: rgba(22, 26, 73, 1);
}

.main-description {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.05rem;
  letter-spacing: 0.5px;
  width: 30rem;
  color: rgba(75, 80, 90, 1);
}

.hero {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.main-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  color: rgba(111, 191, 68, 1);
  align-self: flex-start;
}

.main-button:hover {
  color: rgba(22, 26, 73, 1);
  opacity: 0.8;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (max-width: 768px) {
  .link-header {
    display: none;
  }

  .hero {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.3rem;
    justify-content: flex-end;
    width: 100%;
    margin-top: -5rem;
  }

  img {
    width: 22rem;
    height: auto;
    margin: 0;
  }

  .hero h1 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0.2rem 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .hero p {
    font-size: 1rem;
    line-height: 20px;

    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: -4rem;
    width: 100%;
    height: auto;
  }

  .hero button {
    text-align: center;
    width: 100%;
    margin: 1% 0 4rem 0;
  }

  .cadastro {
    margin-left: 25rem;
   
    margin-top: -7rem;
  }
}
